[submodule "m4"]
	path = m4
	url = git://opennms.git.sourceforge.net/gitroot/opennms/autotools
[submodule "debian"]
	path = debian
	url = git://opennms.git.sourceforge.net/gitroot/opennms/debian-jrrd
