*~
*.spec
.*.swp
*.tar.gz
.deps
.libs
*.jar
*.lo
*.loT
*.la
.classpath
.project
.settings
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
classes
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
java.built
libtool
ltmain.sh
org_opennms_*.h
missing
pom.xml

debian/.debhelper
debian/files
debian/jrrd
debian/jrrd.*
stamp-*
*.cdbs-orig

# java build output
/target/
